##
# {{ ansible_managed }}

{% for option, value in alemuro_mosquitto_settings.items() %}
{{ option }} {% if value == true %}true{% elif value == false %}false{% else %}{{ value }}{% endif %}

{% endfor %}
